[Unit]
Description=xkeysnail

[Service]
KillMode=process
ExecStart=%h/.local/bin/xkeysnail --quiet %h/.config/xkeysnail/config.py
ExecStartPre=/usr/bin/xhost +SI:localuser:root
Type=simple
Restart=always

Environment=DISPLAY=:0

[Install]
WantedBy=default.target
