[Unit]
Description=Easyeffects
After=pipewire.service
BindsTo=pipewire.service

[Service]
ExecStart=/usr/bin/easyeffects --gapplication-service
Type=simple
Restart=on-failure

[Install]
WantedBy=pipewire.service
