configuration {
  modi: "drun,system:~/.config/rofi/system.sh";
  kb-cancel: "Escape";
  kb-element-next: "";
  kb-mode-previous: "Shift+Tab";
  kb-mode-next: "Tab";
  kb-row-tab: "";
  icon-theme: "Flat-Remix-Blue-Dark";
  show-icons: true;
  sidebar-mode: true;
}

@theme "Arc-Dark"
