snippet <script> "typescript import { Component, Vue } ..."
<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';

@Component({
	components:{$1},
})
export default class $2 extends Vue {$3}
</script>
endsnippet
