import: 
  - "~/.config/alacritty/nightfly.yml"
font:
{{ if (eq .chezmoi.os "darwin") }}
  size: 15.5
{{ else }}
  size: 11.5
{{ end }}
  normal:
    family: PlemolJP Console NF

env:
  TERM: alacritty
  USE_TMUX: "true"

shell:
  program: zsh
  args: 
    - --login  

mouse_bindings:
  - { mouse: Middle, action: none }

key_bindings:
  - { key: F11, action: ToggleFullscreen }

window:
  option_as_alt: Both
